
*{
    text-align: center;
    font-family: fantasy;
    font-size: large;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;

p{ 
    color:gray;
}

image img{
    text-align: center;
    width: 300px;
    height: 250px;
    }

ol{
color: purple;
}
